@model RentMe.Models.CarGroup
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@Model.Brand @Model.Model for @Model.DayPrice a day!
<button>Rent!</button>