@using RentMe.ViewModels
@model RentDetailsViewModel
@{
    ViewBag.Title = "RentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.CarGroupId</h2>
    <h2>@Model.PickupDate</h2>
    <h2>@Model.ReturnDate</h2>

    @Html.ActionLink("Proceed", MVC.Rentals.ClientDetails(Model.PickupDate, Model.ReturnDate, Model.CarGroupId), new { @class = "btn btn-primary"})

